body {
	margin: 1em;
	padding: 0;
	font-family: Google Sans, Noto, Roboto, Helvetica Neue, sans-serif;
	 color: rgb(33,37,41);
	background-color: rgb(33,37,41);

 }

.text__color{
	color: white;
}
.container__title{
	background-color: #2B2F33;
	border-radius: 10px;


}
 .example__title{
	margin: 1em 1em 1em 0em;
	 padding: 2em 2em 2em 1em;


 }

 .title__text{
	 color: white;
 }

 .card {
	margin: auto;
	display: flex;
	flex-direction: column;


	overflow: hidden;
 }
 
 model-viewer {
	width: 100%;
	height: 400px;
	background-color: #2B2F33;
	--poster-color: #2B2F33;
 }
 
 .attribution {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 1em;
 }
 
 .attribution h1 {
	margin: 0 0 0.25em;
 }
 
 .attribution img {
	opacity: 0.5;
	height: 2em;
 }
 
 .attribution .cc {
	flex-shrink: 0;
	text-decoration: none;
 }

 .form-signin{
	 max-width: 450px;
	 padding: 1rem;

 }


 .users__model{


	 border-radius: 10px;
	 border-color: white;
	 justify-content: center;

 }
 .content__model{
	 width: 600px;

	padding: 1em;

 }
 footer {
	display: flex;
	flex-direction: column;
	max-width: 600px;
	margin: auto;
	text-align: center;
	font-style: italic;
	line-height: 1.5em;
 }

 a{
	text-decoration: none;
	color: #190ac0f1;
 }

